*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: darkslateblue;
    padding: 10px;
}
nav a{
    color: aliceblue;
    display: block;
    padding: 20px;
}
body{
    display: block;
    color: darkslateblue;
    text-align: center;
}
h1{
    color:darkslateblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid darkslateblue;
    margin: 20px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main{
    max-width: 840px;
    margin: 0 auto;

}
aside{
    width:auto;
    text-align: center;
    position: relative;
}
aside img{
    width: 400px;
    height: auto;
    box-shadow: none;
}

aside h2{
    position:absolute;
    right: 22%;
}

footer{
    margin-top: 20px;
    border-top: solid 2px darkslateblue;
    text-align: center;
    font-weight: bolder
}

/*Class Selectors*/
.box{
    margin: 1rem;
    padding: 1rem;
    background-color: darkslateblue;
    border: dashed 5px white;
    color: aliceblue;
    list-style-type: none;
}

.box a{
    color: aliceblue;
    text-decoration: none;
}
