nav{
    background-color: darkslateblue;
    padding: 10px;
}
nav a{
    color: aliceblue;
    display: block;
    padding: 20px;
}
body{
    display: block;
    margin: 0;
    text-align: center;
    color: darkslateblue;
}
h1{
    color:darkslateblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid darkslateblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0px;
}
main{
    max-width: 840px;
    padding-left: 20%;
    padding-right: 20%;
}
aside{
    width:auto;
    margin: 0;
    border: dashed 5px white;
    padding: 10px;
    background-color: darkslateblue;
    color:aliceblue;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    box-shadow: none
}
footer{
    margin-top: 20px;
    border-top: solid 2px darkslateblue;
    text-align: center;
    font-weight: bolder
}